<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.citringo.groorine" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Groorine.XamForms.Droid" android:icon="@drawable/icon"></application>
</manifest>